<ion-view view-title="{{submission.caption}}">

    <ion-nav-buttons side="left"
        class="button-clear">
        <div ui-sref="todo.gallery({todoId: todo.id})">
            <i class="ion-arrow-left-c"></i> <i class="icon ion-clipboard"></i> {{todo.title}}
        </div>
    </ion-nav-buttons>

    <ion-content class="padding">

        <div class="list card">

            <div class="item item-image">
                <img src="{{submission.resource}}">
            </div>

            <p class="item item-icon-left assertive" href="#">
                <i class="icon ion-quote"></i> {{submission.caption}}
            </p>

        </div>

        <div class="card" ng-repeat="message in messages">

            <!-- Basic Message in Todo Feed -->
            <div class="item item-text-wrap" href="#">
                {{message.body}}
            </div>

        </div>

        <div class="bar bar-foot item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-chatbox placeholder-icon"></i>
                <input ng-model="body" type="text" placeholder="Send a message" id="submission-comment"/>
            </label>
            <button class="button" ng-click="submitMessage(body)">
                Submit
            </button>
        </div>

    </ion-content>
</ion-view>
