<ion-view view-title="Feed for '{{todo.title}}'">
  <ion-content>

    <div class="card" ng-repeat="message in messages">
      <div class="item item-text-wrap" href="#">
        {{message.body}}
      </div>
    </div>

    <div class="bar bar-foot item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-chatbox placeholder-icon"></i>
        <input type="text" placeholder="Send a message">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>

  </ion-content>
</ion-view>
