<ion-view view-title="Gallery for '{{todo.title}}'">

    <ion-nav-buttons side="left" class="button-clear">
        <div ui-sref="dash">
            <i class="ion-arrow-left-a"></i>
        </div>
    </ion-nav-buttons>

    <ion-content class="padding">

        <div class="list card" ng-if="submissions.length == 0">

            <div class="item">
                <h2>Oh no, there's nothing here.'</h2>
            </div>

            <div class="item item-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Crying-girl.jpg/800px-Crying-girl.jpg">
            </div>

            <a class="item item-icon-left assertive" ui-sref="todo.submit">
                <i class="icon ion-ios7-cloud-upload"></i> Submit something!
            </a>

        </div>

        <div ng-repeat="submission in submissions" class="list card" ui-sref="submission({ submissionId: submissions[$index].id })">

            <div class="item item-avatar">
                <img src="{{submission.resource}}">
                <h2>{{submission.caption}}</h2>
                <p>{{submission.caption}}</p>
            </div>

            <div class="item item-image">
                <img src="{{submission.resource}}">
            </div>

            <p class="item item-icon-left assertive">
                <i class="icon ion-music-note"></i> See Comments
            </p>

        </div>

    </ion-content>
</ion-view>
