<ion-view view-title="Feed">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap" href="#">
        Oldest message.
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap" href="#">
        How are you?.
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap" href="#">
        I'm good.
      </div>
    </div>

    <div class="card" ng-repeat="message in submissions">
      <div class="item item-text-wrap" href="#">
        {{message.caption}}
      </div>
    </div>

    <div class="bar bar-foot item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-chatbox placeholder-icon"></i>
        <input type="text" placeholder="Send a message">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>

  </ion-content>
</ion-view>
