<ion-view view-title="Feed for '{{todo.title}}'">
  <ion-content>

    <div class="card" ng-repeat="message in messages">
      <div class="item item-text-wrap" href="#">
        {{message.body}}
      </div>
    </div>

    <div class="list card" ng-repeat="submission in submissions">

      <div class="item item-image">
        <img src="{{submission.resource}}">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-quote"></i>
        {{submission.caption}}
      </a>

    </div>

    <div class="bar bar-foot item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-chatbox placeholder-icon"></i>
        <input type="text" placeholder="Send a message">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>

  </ion-content>
</ion-view>
