
<ion-view view-title="Submissions for '{{todo.title}}'">
    <ion-content class="padding">

    <div class="list card">

      <div class="item item-image">
          <img src="{{submission.resource}}">
      </div>

      <p class="item item-icon-left assertive" href="#">
        <i class="icon ion-quote"></i>
        {{submission.caption}}
    </p>

    </div>


    <div class="card" ng-repeat="message in messages">

        <!-- Basic Message in Todo Feed -->
        <div class="item item-text-wrap" href="#">
            {{message.body}}
        </div>

    </div>

    <div class="bar bar-foot item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-chatbox placeholder-icon"></i>
            <input ng-model="body" type="text" ng-keypress="($event.which === 13)?submitMessage(body):0" placeholder="Send a message" />
        </label>
        <button class="button button-clear">
            Cancel
        </button>
    </div>

    </ion-content>
</ion-view>
