<ion-view view-title="Gallery">
  <ion-content class="padding">
    <div ng-repeat="submission in submissions">
      <div class="row responsive-sm" ng-if="$even">

        <div class="col-50" ui-sref="tab.submission" style="text-align: center;">
          <img ng-src="{{submissions[$index].image}}" width="300">
        </div>
        <div class="col-50" ui-sref="tab.submission" style="text-align: center;">
          <img ng-src="{{submissions[$index+1].image}}" width="300">
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
