<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="Submit for '{{todo.title}}'">

    <ion-nav-buttons side="left" class="button-clear">
        <a ui-sref="dash">
            <i class="ion-arrow-left-a"></i>
        </a>
    </ion-nav-buttons>

    <ion-content class="padding">

        <form novalidate class="simple-form" ng-submit="save(submission)">

            <label class="item item-input">
                <span class="input-label">Todo Description</span>
                <p>{{todo.description}}</p>
            </label>

            <label class="item item-input">
                <span class="input-label">Caption</span>
                <textarea placeholder="Enter caption..." rows="5" ng-model="submission.caption"></textarea>
            </label>

            <label class="item item-input">
                <span class="input-label">Medium</span>
                <select ng-model="submission.medium" ng-options="medium as medium for medium in mediums"></select>
            </label>

            <label class="item item-input" ng-if="submission.medium == 'Photo'">
                <span class="input-label">Take Photo</span>
                <button ng-click="takePhoto(submission)" class="button button-primary">Open Camera</button>
                </br>
            </label>

            <div class="item item-image">
                <img ng-src="{{submission.resource}}" />
            </div>

            <!--
            <label class="item item-input" ng-if="submission.medium == 'Photo'">
                <span class="input-label">Upload Photo</span>
                <input type="file" accept="image/*" onchange="angular.element(this).scope().storeFile(this)" />
            </label>

            <label class="item item-input" ng-if="submission.medium == 'Video'">
                <span class="input-label">Upload Video</span>
                <input type="file" accept="video/*" onchange="angular.element(this).scope().storeFile(this)" />
            </label>

            <label class="item item-input" ng-if="submission.medium == 'Audio'">
                <span class="input-label">Upload Audio</span>
                <input type="file" accept="audio/*" onchange="angular.element(this).scope().storeFile(this)" />
            </label>
            -->

            <label class="item item-input">
                <input type="submit" value="I am ready to submit!" class="button button-light" />
            </label>

        </form>

    </ion-content>
</ion-view>
